img {
	margin: 4% 0 0 40%;
}

#encabezado {
	font-family: cursive;
	font-size: 20px;
	margin: 1% 0 0 20%;
}

table {
	border: 1px solid black;
	margin: 0 0 0 20%;
	width: 60%;
	height: 48%;
}

.colms {
	font-family: arial new;
	font-size: 20px;
}

tr {
	height: 120px;
}

#top {
	height: 0;
}

td {
	width: 36px;
}

.photo_profile {
	margin: 0 0 0 0;
	width: 70%;
	height: 14%;
}

#new_search {
	margin: 1% 0 0 20%;
}
