form {
	padding: 2%;
	margin-left: 33%;
	margin-top: 1%;
	border: 1px dotted;
	width: 30%;
	border-radius: 12px;
}

#btn {
	margin-top: 5%;
	margin-left: 16%;
}

label {
	font-size: 14px;
	font-family: lucida handwriting;
}

.desc {
	color: blue;
}
