form {
	padding: 2%;
	margin-left: 32%;
	margin-top: 14%;
	border: 1px dashed;
	width: 30%;
	border-radius: 12px;
}

label {
	font-size: 14px;
	font-family: lucida handwriting;
}

#btn_save_users {
	margin-top: 5%;
	margin-left: 16%;
}

.desc {
	color: blue;
}